*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto Mono", "Roboto Mono", "Vazirmatn", monospace;
}

body{
  height: 100vh;
  background-color: #323437;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container{
  width: 700px;
  padding: 30px 30px;
  background-color: #eef1ff;
  border-radius: 15px;
}

h1{
  text-align: center;
  margin-bottom: 50px;
}

.stats{
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  margin-bottom: 30px;
}

.stats span{
  font-weight: 600;
  color: #e81c43;
}

#quote{
  text-align: justify;
  margin: 50px 0 30px 0;
}

textarea{
  resize: none;
  width:100%;
  border-radius: 5px;
  padding: 10px 5px;
  font-size: 16px;
}

button{
  float: right;
  margin-top: 20px;
  background-color: #44b267;
  color: #fff;
  border: none;
  padding: 10px 30px;
  border-radius: 5px;
  font-size: 18px;
}

#start-test{
  cursor: pointer;
}

#stop-test{
  cursor: pointer;
}

.result{
  margin-top: 40px;
  display: none;
}

.result h3{
  text-align: center;
  margin-bottom: 20px;
  font-size: 22px;
}

.wrapper{
  display: flex;
  justify-content: space-around;
}

.wrapper span{
  font-weight: 600;
}

.success{
  color:#44b267;
}

.fail{
  color: #e81c43;
}
